form {
  width: 260px;
  margin-right: auto;
  margin-left: auto;
}

input[type="text"]::placeholder {
  background-color: red;
  color: white;
}
:focus {
  outline: 2px solid;
}

select {
  /* default olan arrow okunu kaldırmak */
  -webkit-appearance: none;
  /* Genelde resim yerleştirirken istediğimiz konuma böyle çekebiliriz.
Sağa çek ama 10px de geri gel demek.Center zaten ortalı olduğu için bu özellik kullanılmıyor */
  background-position: right 10px center;
}
.radio-container {
  margin-top: 1em;
}
.radio-container label + label {
  display: inline-block;
}
